body {
    background-color: #F0F4FF;
    font-family: Arial, Helvetica, sans-serif;
}

.invite-card {
    width: 40%;
    margin: 30px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #6C63FF;
    margin-bottom: 10px;
}

h3 {
    color: #444444;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #444444;
}

.event-details-card p strong {
    display: inline;
    text-align: center;
    margin-right: 10px;
    color: #6C63FF;
}

img {
    max-width: 50%;
    border-radius: 15px;
    margin-bottom: 40px;
}

footer {
    font-size: 14px;
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #ccc;
    color: #444444;
}
